<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<nav class="navbar navbar-dark bg-primary">
  <div class="text-center col-12">
    <a class="navbar-brand" href="">Test Data Generator</a>
  </div>
</nav>
<div class="container-fluid mt-3">
  <form #dataForm="ngForm" (submit)="generateData()" novalidate class="needs-validation">
    <div class="card">
      <div class="card-header">
        <div class="form-group row">
          <label for="noOfColumns" class="col-6 col-form-label text-end">Number of Columns</label>
          <div class="col-3">
            <input type="number" min="0" [(ngModel)]="noOfColumns" name="noOfColumns" class="form-control"
              id="noOfColumns">
          </div>
          <div class="col-3">
            <button type="button" class="btn btn-block btn-secondary" (click)="createColumns()">Create</button>
          </div>
        </div>
      </div>
    </div>
    <div id="detailsCard" class="card mt-3" *ngIf="isCreated">
      <div class="card-header">
        <div class="form-group row">
          <label for="noOfColumns" class="col-7 col-form-label">Column Details</label>
          <div class="col-5 text-end">
            <div class="form-group row">
              <label for="noOfRows" class="col-auto col-form-label">Number of Rows</label>
              <div class="col-auto">
                <input #noOfRowsModel="ngModel" type="number" min="1" [(ngModel)]="noOfRows" name="noOfRows"
                  class="form-control" required [ngClass]="submitted && noOfRowsModel.invalid ? 'is-invalid' : ''">
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-primary">Generate</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="form-group row mt-2" *ngFor="let columnDetail of columnDetails; index as i;">
          <div class="col-auto">
            <input #columnName="ngModel" placeholder="ColumnName" type="text" [(ngModel)]="columnDetail.name"
              name="columnName{{i}}" class="form-control" required
              [ngClass]="submitted && columnName.invalid ? 'is-invalid' : ''">
          </div>
          <div class="col-auto">
            <select #category="ngModel" class="form-select" [(ngModel)]="columnDetail.category" name="category{{i}}"
              (change)="updateCategory(columnDetail.category,i)" required
              [ngClass]="submitted && category.invalid ? 'is-invalid' : ''">
              <option value="">Select a type</option>
              <option *ngFor="let category of categories; index as c" [value]="category.name">{{category.name}}</option>
            </select>
          </div>
          <div class="col-auto" *ngIf="columnDetail.category">
            <select #subCategory="ngModel" class="form-select" [(ngModel)]="columnDetail.subCategory"
              name="subCategory{{i}}" required [ngClass]="submitted && subCategory.invalid ? 'is-invalid' : ''">
              <option value="">Select a type</option>
              <option *ngFor="let category of categories[selectedCategoryIndex].categories" [value]="category.name">
                {{category.name}}</option>
            </select>
          </div>
          <ng-container
            *ngIf="columnDetail.subCategory === 'float' || columnDetail.subCategory === 'int' || columnDetail.subCategory === 'bigInt'">
            <label for="rangeMin{{i}}" class="col-auto col-form-label">Min</label>
            <div class="col-auto">
              <input type="text" [(ngModel)]="columnDetail.range.min" name="rangeMin{{i}}" class="form-control">
            </div>
            <label for="rangeMax{{i}}" class="col-auto col-form-label">Max</label>
            <div class="col-auto">
              <input type="text" [(ngModel)]="columnDetail.range.max" name="rangeMax{{i}}" class="form-control">
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </form>
</div>